/* css font */

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* reset style */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

/* style start */

body {
  font-family: 'Bruno Ace SC', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* default style */

.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 24px;
}

.fs-3 {
  font-size: 20px;
}

.fs-64 {
  font-size: 64px;
}

.gap-2 {
  gap: 16px;
}

.gap-3 {
  gap: 24px;
}

.py-20 {
  padding: 160px 0;
}

/* nav style */

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.nav {
  background-color: #000;
}

.d-flex {
  display: flex;
}

.nav-list {
  padding: 52px 0;
  justify-content: space-between;
}

.nav-list li a {
  color: #d1d1d1;
}

.nav-list li a:hover {
  color: #00ffa3;
}

/* header style */

.header {
  background-color: #000;
  padding: 72px 0 32px 0;
}

.header-img {
  width: 50%;
}

.intro-text {
  flex-direction: column;
  justify-content: center;
}

.intro-text p {
  color: #fff;
}

.intro-text h1 {
  margin-left: auto;
  font-size: 128px;
  color: #00ffa3;
}

.intro-text img {
  display: inline-block;
}

.intro-link {
  color: #000;
  background-color: #fff;
  margin-left: auto;
  padding: 12px 24px;
  gap: 4px;
  border-radius: 32px;
}

.intro-link:hover {
  background-color: #00ffa3;
}

/* main style */

.main-left h2 {
  color: #fff;
  margin-bottom: 36px;
}

.main-left p {
  color: #fff;
  margin-bottom: 32px;
}
